*~
.idea/
.travis.yml

app/bootstrap*
composer.lock

web/uploads/*
web/bundles/*

/app/cache/*
/app/logs/*

/swagger/*.json
/swagger/swagger-korbo-conf.js

conf/config_test.yml
conf/parameters.yml
conf/config.yml

swagger/index.php
